<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828300291753-1l12c3pe3k9j2ee7lqu8ebagjt09rt19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828300291753-1l12c3pe3k9j2ee7lqu8ebagjt09rt19</string>
	<key>API_KEY</key>
	<string>AIzaSyDt77E8EnZEiS9TUMrL77v4pUPGjH5Ssa8</string>
	<key>GCM_SENDER_ID</key>
	<string>828300291753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialmedia</string>
	<key>PROJECT_ID</key>
	<string>biblechallenge-81cae</string>
	<key>STORAGE_BUCKET</key>
	<string>biblechallenge-81cae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828300291753:ios:eb5510b0711d1998c443b8</string>
</dict>
</plist>